html,
body {

    background:
    url("assets/paper.webp");

    background-size:cover;
    margin: 0;
    padding: 0;
    height: 100%;
}

#map {
width: 100%;
height: 100vh;
}
.leaflet-container{

    background:transparent;

}

#coords {
position: fixed;
right: 10px;
bottom: 10px;

z-index: 1000;

background: rgba(0, 0, 0, 0.8);
color: white;

padding: 10px;

border-radius: 8px;

font-family: monospace;
}

#session-panel {
position: fixed;

top: 0;
right: 0;

width: 400px;
height: 100vh;

background:
linear-gradient(
    180deg,
    #0b3440 0%,
    #082a33 50%,
    #061f28 100%
);

border-left:1px solid rgba(210,180,120,.4);

box-shadow:
-10px 0 30px rgba(0,0,0,.4);

color:#eadfb3;

padding:20px;

z-index: 1000;

overflow-y: auto;

box-sizing: border-box;
}

#session-header{

font-family:'Cinzel';

font-size:42px;

letter-spacing:2px;

color:#eadfb3;

border:none;

padding-bottom:25px;

}

.hidden {
    display: none;
}

#session-content{

font-family:
'Cormorant Garamond';

font-size:22px;

line-height:1.6;

color:#efe7c9;

}

#session-content a{

color:#eadfb3;

text-decoration:none;

}

#session-content a:hover{

color:#fff3c5;

text-shadow:
0 0 6px rgba(255,230,160,.5);

}

.session-logos{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:15px;

    margin-bottom:15px;

}


.session-logos img{

    width:100%;

    max-width:120px;

    max-height:120px;

    object-fit:contain;

    justify-self:center;

}

#search-container{

position:fixed;

top:10px;
left:60px;

z-index:1000;

width:300px;

}
button{

    background:none;

    border:1px solid #bda16f;

    color:#eadfb3;

    padding:6px 12px;

    cursor:pointer;

}


button:hover{

    background:
    rgba(255,255,255,.05);

}

#search{

background:rgba(245,240,220,.95);

border:1px solid #bca06a;

padding:12px;

font-family:'Cormorant Garamond';

font-size:20px;

box-sizing:border-box;

}


#search-results{

background:rgba(245,240,220,.95);

max-height:300px;

overflow-y:auto;

border:none;

}


#search-results:not(:empty){

border:1px solid #bca06a;

margin-top:4px;

}


.search-result{

    padding:8px;

    cursor:pointer;

}


.search-result:hover{

    background:rgba(210,180,120,.2);

}
